{% extends "layout.html" %}
{% block content %}

<head>
    {{ themap.js }}
</head>

<body>

<div class="page">
    <div class="panel">
        <div class="title">
            <h1>Meetup information</h1>
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}

            <button onclick = "RSVPmeetup()">Attend this event</button>
            <button onclick = "unmeetup()">Do not attend this event</button>

            <form method="post" action="">
                <label></label><br>
                <label>uid : {{uid }}</label><br>
                <label>Attending: {{attending}}</label><br>
                <label>Meetup ID: {{ meetid }}</label><br>

                <label>Subject: {{ subject }}</label><br>

                <label>Start Time: {{ starttime }}</label><br>

                <label>End Time: {{ endtime }}</label><br>

                <label>Coordinator: {{ coordinator }}</label><br>

                <center>{{ themap.html }}</center>
            </form>



        </div>
    </div>
</div>

<script>
    function RSVPmeetup() {
        $.getJSON("http://localhost:5000/doRSVPJSON", {
      uid: {{uid}},
      eid: {{meetid}}
       }, function(data) {alert("Hello!");});
       return false;}

       function unmeetup() {
        $.getJSON("http://localhost:5000/unRSVP", {
      uid: {{uid}},
      eid: {{meetid}}
       }, function(data) {alert("Hello!");});
       return false;}
</script>

{% endblock %}
