{% extends "layout.html" %}
{% block content %}


<div class="page">
    <div class="panel">
        <div class="title">
            <h1>Meetup information</h1>
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}

            <p><strong>Times are in format: YYYY/MM/DD HH:MM:SS</strong></p>
            <p>Meetup ID: {{ meetid }}</p>
            <p>Subject: {{ subject }}</p>
            <p>Start Time: {{ starttime }}</p>
            <p>End Time: {{ endtime }}</p>
            <p>Coordinator: {{ coordinator }}</p>
            <p>Location:</p>
            {{googlemap("meetup_map", lat=40.820189, lng=-73.949499, markers=[(40.820189, -73.949499)])}}

